<h1>Stupid Coaching</h1>
<div class="ui-container">
  <div class="your-question">
    <h5><%= @question %></h5>
    <p><em>- You</em></p>
  </div>
  <div class="coach-answer">
    <h5><%= @coaches_answer %></h5>
    <p><em>- Your coach</em></p>
  </div>
  <div class="link"><%= link_to "Ask a new question", ask_path %></div>
</div>
